# Project

Author: Weixin Zhang

## Summary
Given US-immigration data, process them and get some insights from the dataset.

### Step 1: Scope the Project and Gather Data

In [4]:
try:
    import findspark
    findspark.init()
except ImportError:
    print("findspark module not found, check if you need it")

findspark module not found, check if you need it

In [1]:
import pandas as pd
import boto3
import configparser
import os
from pyspark.sql import SparkSession

In [2]:
config = configparser.ConfigParser()
config.read('configurations/config.cfg')
KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')
REGION                 = config.get('AWS', 'REGION')

DB_NAME        = config.get('CLUSTER', 'DB_NAME')
DB_USER        = config.get('CLUSTER', 'DB_USER')
DB_PASSWORD            = config.get('CLUSTER', 'DB_PASSWORD')
DB_PORT                = config.get('CLUSTER', 'DB_PORT')
DWH_ENDPOINT           = config.get('CLUSTER', 'HOST')

IAM_ROLE      = config.get("IAM_ROLE", "ARN")

DEMOGRAPHICS_DATA = config.get('S3', 'DEMOGRAPHICS_DATA')
IMMIGRATION_DATA = config.get('S3', 'IMMIGRATION_DATA')
IMMIGRATION_DATA = config.get('S3', 'AIRPORT_DATA')

DEMOGRAPHICS_TABLE="demographics"
IMMIGRATION_TABLE="immigration"
AIRPORT_TABLE="airport"

BUCKET='s3://'+config.get('S3', 'BUCKET')+'/'

In [4]:
session = boto3.Session(aws_access_key_id=ACCESS_KEY, aws_secret_access_key=SECRETE_KEY)

In [5]:
s3_client=session.client('s3', region_name=REGION_NAME)

In [6]:
demographic_data = s3_client.get_object(Bucket=config.get('S3', 'BUCKET'), 
                                       Key=config.get('S3', 'DEMOGRAPHICS_OBJECT'))
# Read in the data here
demographic_df = pd.read_csv(demographic_data['Body'], delimiter=';')

In [7]:
demographic_df.head()

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402

In [8]:
immigration_data = s3_client.get_object(Bucket=config.get('S3', 'BUCKET'), 
                                       Key=config.get('S3', 'IMMIGRATION_DATA'))
# Read in the data here
immigration_df = pd.read_csv(immigration_data['Body'], delimiter=',')
immigration_df.head()

,Unnamed: 0,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,2027561,4084316.0,2016.0,4.0,209.0,209.0,HHW,20566.0,1.0,HI,...,NaN,M,1955.0,07202016,F,NaN,JL,5.658267e+10,00782,WT
1,2171295,4422636.0,2016.0,4.0,582.0,582.0,MCA,20567.0,1.0,TX,...,NaN,M,1990.0,10222016,M,NaN,*GA,9.436200e+10,XBLNG,B2
2,589494,1195600.0,2016.0,4.0,148.0,112.0,OGG,20551.0,1.0,FL,...,NaN,M,1940.0,07052016,M,NaN,LH,5.578047e+10,00464,WT
3,2631158,5291768.0,2016.0,4.0,297.0,297.0,LOS,20572.0,1.0,CA,...,NaN,M,1991.0,10272016,M,NaN,QR,9.478970e+10,00739,B2
4,3032257,985523.0,2016.0,4.0,111.0,111.0,CHM,20550.0,3.0,NY,...,NaN,M,1997.0,07042016,F,NaN,NaN,4.232257e+10,LAND,WT

In [9]:
airport_data = s3_client.get_object(Bucket=config.get('S3', 'BUCKET'), 
                                       Key=config.get('S3', 'AIRPORT_CODE'))
# Read in the data here
airport_df = pd.read_csv(airport_data['Body'], delimiter=',')
airport_df.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"

In [13]:
def create_spark_session():
    spark = SparkSession.builder.\
    config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
    .enableHiveSupport().getOrCreate()
    return spark
spark = create_spark_session()

In [4]:
def process_parquet_data(spark, input_data, output_data, input_format='com.github.saurfang.sas.spark', write=True):
    df_spark =spark.read.format(input_format).load(input_data)
    if write:
        df_spark.write.parquet(output_data, mode='overwrite')
    return df_spark

In [17]:
i94_data=[]
for root, dirs, files in os.walk('/data/18-83510-I94-Data-2016/'):
    for file in files:
        i94=spark.read.format('com.github.saurfang.sas.spark').load(os.path.join(root, file))
        i94_data.append(i94)
# i94_df=spark.read.format('com.github.saurfang.sas.spark').load('/data/18-83510-I94-Data-2016/*.sas7bdat')

In [18]:
if len(i94_data):
    for i94 in range(1, len(i94_data)):
        i94_data[0].union(i94_data.pop(-1))

In [19]:
i94_df=i94_data[0]
i94_df.printSchema()

root
 |-- cicid: double (nullable = true)
 |-- i94yr: double (nullable = true)
 |-- i94mon: double (nullable = true)
 |-- i94cit: double (nullable = true)
 |-- i94res: double (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: double (nullable = true)
 |-- i94mode: double (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: double (nullable = true)
 |-- i94bir: double (nullable = true)
 |-- i94visa: double (nullable = true)
 |-- count: double (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: double (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: double (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

### Step 2: Explore and Assess the Data
#### Explore the Data 
From the df.count(), we can see some columns have more or less data, it might because some of rows have null or duplicated data.

#### Cleaning Steps
1. Remove NA data
2. Remove duplicated data

In [27]:
def cleanup_data(df, duplicate=True, dropna=True):
    df.drop_duplicates(inplace=True)
    df.dropna(inplace=True)
    return df

In [29]:
geogaphics_df=cleanup_data(geogaphics_df)
geogaphics_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2875 entries, 0 to 2890
Data columns (total 12 columns):
City                      2875 non-null object
State                     2875 non-null object
Median Age                2875 non-null float64
Male Population           2875 non-null float64
Female Population         2875 non-null float64
Total Population          2875 non-null int64
Number of Veterans        2875 non-null float64
Foreign-born              2875 non-null float64
Average Household Size    2875 non-null float64
State Code                2875 non-null object
Race                      2875 non-null object
Count                     2875 non-null int64
dtypes: float64(6), int64(2), object(4)
memory usage: 292.0+ KB

After cleanning data, we only eliminated about 10 rows of data, it is good.

### Step 3: Define the Data Model
##### Connect to database first

In [7]:
%load_ext sql
conn_string="postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, DWH_ENDPOINT, DB_PORT,DB_NAME)
print(conn_string)
%sql $conn_string

postgresql://awsuser:Ab123456789@redshift-cluster.cplj6put4j8c.us-west-2.redshift.amazonaws.com:5439/dev

'Connected: awsuser@dev'

#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

In [1]:
from sql_queries import CREATE_DEMOGRAPHICS_TABLE
print(CREATE_DEMOGRAPHICS_TABLE)

Create Table If Not Exists demographics(
    city varchar,
    state varchar,
    median_age float,
    male_population int,
    femail_population int,
    population int,
    num_of_veterans int,
    foreign_born int,
    avg_household_size float,
    state_code varchar,
    race varchar,
    count int,
)

In [9]:
%sql $CREATE_DEMOGRAPHICS_TABLE

 * postgresql://awsuser:***@redshift-cluster.cplj6put4j8c.us-west-2.redshift.amazonaws.com:5439/dev
(psycopg2.ProgrammingError) syntax error at or near "Exist"
LINE 1: Create Table If Not Exist demographics(
                            ^
 [SQL: 'Create Table If Not Exist demographics(\n    city varchar,\n    state varchar,\n    median_age float,\n    male_population int,\n    femail_population int,\n    population int,\n    num_of_veterans int,\n    foreign_born int,\n    avg_household_size float,\n    state_code varchar,\n    race varchar,\n    count int,\n)']

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

##### 3.2.1 Staging data to redshift

In [2]:
from sql_queries import COPY_DEMOGRAPHICS_DATA_FROM_S3

In [16]:
print(COPY_DEMOGRAPHICS_DATA_FROM_S3)

copy demographics
from 's3://us-immigration-data/us-cities-demographics.csv'
iam_role 'arn:aws:iam::332608265013:role/UdacityRedshift'
region 'us-west-2'
format as csv
delimiter as ';';

In [17]:
%sql $COPY_DEMOGRAPHICS_DATA_FROM_S3

 * postgresql://awsuser:***@redshift-cluster.cplj6put4j8c.us-west-2.redshift.amazonaws.com:5439/dev

InternalError: (psycopg2.InternalError) Cannot COPY into nonexistent table demographics
 [SQL: "copy demographics\nfrom 's3://us-immigration-data/us-cities-demographics.csv'\niam_role 'arn:aws:iam::332608265013:role/UdacityRedshift'\nregion 'us-west-2'\nformat as csv\ndelimiter as ';';"]